#content{
	width:57%;
	display:block;
    margin-left:7%;
    margin-top:5%;
    
}

span.edit_span{
	width:100%;
	display:block;
	padding:0;
	margin:0;
}

input.input{
	padding-left:10%;
	display:block;
	width:20%;
}

label{
	float:left;
	display:block;
	width:40%;
	text-align:left;
}

input.button{
	text-align:center;
    margin-left:41%;
}
