body{
	margin-left:6%;
	margin-right:6%;
	margin-top:0;
}

#home{
	border-left-style:solid;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	display:table;
	width:100%;
    height:850px;
    background-color:white;
}

#most{
    float:right;
    width:30%;
    margin-top:2%;
    margin-right:2px;
}

#most_popular ul, #most_searched ul{
	display:block;
	float:right;
	text-align:center;
	padding:0;
	margin:0;
    width:100%;
    list-style:none;
}

#most_popular ul li, #most_searched ul li{
	background:rgba(130,210,61,0.5);
	border-style:solid;
	border-width:1px;
	border-color:green;
	border-radius:15px;
	border-radius:15px;
	-moz-border-radius:15px;
	-moz-border-radius:15px;
}

#most_popular ul li a, #most_searched ul li a{
    color:black;
	display:block;
	text-decoration:none;
    width:100%;
}

#most_searched ul li:hover, #most_popular ul li:hover{
	background-color:#82d23d;
}

div._most{
    font-weight:bold;
    background-color:#82d23d;
    border-radius:15px;
	border-radius:15px;
	-moz-border-radius:15px;
	-moz-border-radius:15px;
}
#footer{
    width:100%;
    height:25px;
    background-color:black;
    color:white;
}

#myDiv{
    width:100%;
    
}

#follow{
    width:100%;
    float:right;
}

#follow a{
    text-decoration:none;
    color:black;
}

#follow a:hover{
    text-decoration:underline;
}

#follow a:focus{
    outline:0;
}

#home_page{
    margin-left:7%;
}

.avatar{
    text-align:center;
    border-style:solid;
    border-width:1px;
    margin-left:7%;
    display:block;
}
